name: RTest

# Run this workflow every time a new commit pushed to your repository
on: push

jobs:
  # Set the job key. The key is displayed as the job name
  # when a job name is not provided
  rtest:
    # Name the Job
    name: test out R
    # Set the type of machine to run on
    runs-on: ubuntu-latest
    container: rocker/verse
    env: # Or as an environment variable
      NUMERAIID: ${{ secrets.NUMERAIID }}
    steps:
      - uses: actions/checkout@v1
      - run: Rscript setup.R
      - run: Rscript download_data.R
      - run: Rscript pipeline.R
      - name: Upload results
        uses: actions/upload-artifact@main
        with:
          name: results
          path: index.html
